
<div class="profile-header">
  <img class="profile-header-image" src='/assets/guest_header_picture.jpg'/>
  <img class="profile-picture" src='/assets/guest_profile_picture.jpg'/>
</div>

<div class="profile-header-nav group">
  <ul class="profile-header-nav-list group">
    <li><a href="#">All</a></li>
    <li><a href="#">Tracks</a></li>
    <li><a href="#">Playlists</a></li>
    <li><a href="#">Reposts</a></li>
  </ul>
</div>

<div class="profile-main group">
  <div class="profile-sidebar group">
    <%= @user.username %>
  </div>

  <div class="profile-content group">
    SONGS!
  </div>
</div>
