.comment-input-box {
  padding: 7px;
  display: block;
  float: left;
  background: #ddd;
  box-sizing: border-box;
  width: 778px;
}

.comment-body-input {
  background: white;
  display: block;
  width: 100%;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.comment-input-thumb {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}

.comment-input-thumb-enlcosure {
  border: 1px solid #aaa;
  box-sizing: border-box;
  width: 820px;
}

.comment-index-large {
  display: block;
  width: 820px;
  min-height: 200px;
  box-sizing: border-box;
}

.comment-index-item-large {
  display: block;
  padding: 5px;
  width: 820px;
  background: white;
  height: 50px;
  box-sizing: border-box;
}

.comment-body-large {

}

.comment-user-name {
  font-size: 14px;
  line-height: 1.3;
  color: #777;
  display: block;
  float: left;
}

.says-at {
  font-size: 13px;
  color: #ccc;
  display: inline-block;
  padding-bottom: 1px;
  padding-left: 4px;
}
