.comment-input-box {
  padding: 10px;
  display: block;
  width: 750px;
  height: 40px;
  background: #aaa;
}

.comment-body-input {
  background: white;
  display: block;
  border: 1px solid black;
}

.comment-input-thumb {
  width: 40px;
  height: 40px;
}

.comment-index-large {
  display: block;
  width: 800px;
  min-height: 200px;
  border: 1px solid black;
}

.comment-index-item-large {
  display: block;
  padding: 5px;
  width: 600px;
  background: red;
  height: 50px;
  border: 1px solid black;
}
