.comment-input-box {
  padding: 7px;
  display: block;
  float: left;
  background: #f5f5f5;
  box-sizing: border-box;
  width: 778px;
}

.comment-body-input {
  background: white;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.comment-input-thumb {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}

.comment-input-thumb-enlcosure {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 820px;
}

.comment-index-large {
  display: block;
  width: 550px;
  box-sizing: border-box;
}

.song-info-and-comments {
  display: block;
  float: left;
  width: 550px;
  box-sizing: border-box;
}

.comment-index-item-large {
  display: block;
  padding: 5px;
  width: 670px;
  background: white;
  height: 50px;
  box-sizing: border-box;
}

.comment-body-large {

}

.comment-index-large-user-info {
  display: block;
  float: left;
  position: relative;
  width: 120px;
  margin-right: 30px;
}

.comment-user-name {
  font-size: 14px;
  line-height: 1.3;
  color: #777;
  display: block;
  float: left;
}

.comment-index-header {
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.says-at {
  font-size: 13px;
  color: #ccc;
  display: inline-block;
  padding-bottom: 1px;
  padding-left: 4px;
}

.leave-a-comment {

}

.comment-layer {
  display: block;
  position: absolute;
  top: 135px;
  left: 175px;
  width: 645px;
  height: 10px;
  z-index: 3;
}

.comment-component-username {
  margin-right: 5px;
  color: #0BF;
}

.comment-component-body {
  color: #777;
}

.comment-component-mini {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.comment-component-mini:hover {
  overflow: visible;
}

.comment-component-mini:hover .comment-component-innards {
  opacity: 1;
}

/*.comment-component-mini:hover .comment-component-innards {
  visibility: visible;
}*/

.comment-component-innards {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  width: 200px;
  display: block;
  text-overflow: ellipsis;
  position: relative;
  bottom: 0px;
  font-size: 12px;
  opacity: 0;

  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.comment-component-innards:hover {
  opacity: 1;
}

.comment-input-box-small {
  font-size: 12px;
  padding: 7px;
  display: block;
  float: right;
  background: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #eee;
  width: 645px;
  opacity: 0;
}

.comment-body-input-small {
  background: white;
  display: block;
  width: 605px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.comment-input-thumb-small {
  width: 22px;
  height: 22px;
  display: block;
  float: left;
}

.comment-input-thumb-enlcosure-small {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 645px;
}

.leave-a-comment-track-player {
  font-size: 12px;
  color: #ccc;
}
