.comment-input-box {
  padding: 7px;
  display: block;
  float: left;
  background: #f5f5f5;
  box-sizing: border-box;
  width: 778px;
}

.comment-body-input {
  background: white;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}

.comment-input-thumb {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}

.comment-input-thumb-enlcosure {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 820px;
}

.comment-index-large {
  display: block;
  width: 550px;
  box-sizing: border-box;
}

.song-info-and-comments {
  display: block;
  float: left;
  width: 550px;
  box-sizing: border-box;
}

.comment-index-item-large {
  display: block;
  padding: 5px;
  width: 670px;
  background: white;
  height: 50px;
  box-sizing: border-box;
}

.comment-body-large {

}

.comment-index-large-user-info {
  display: block;
  float: left;
  width: 120px;
  margin-right: 30px;
}

.comment-user-name {
  font-size: 14px;
  line-height: 1.3;
  color: #777;
  display: block;
  float: left;
}

.comment-index-header {
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.says-at {
  font-size: 13px;
  color: #ccc;
  display: inline-block;
  padding-bottom: 1px;
  padding-left: 4px;
}

.leave-a-comment {
  
}
