.thumb-large {
  width: 340px;
  height: 340px;
  display: block;
  float: right;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: black;
}

.thumb-large img {
  max-height: 340px;
  display: block;
  margin: auto;
}

.thumb {
  width: 160px;
  height: 160px;
  display: block;
  float: left;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  background: black;
}

.thumb img {
  max-height: 160px;
  display: block;
  margin: auto;
}

.thumb-med {
  width: 120px;
  height: 120px;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  background: black;
}

.thumb-med img {
  max-height: 120px;
  display: block;
  margin: auto;
}

.thumb-mini {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  margin-right: 6px;
  position: relative;
  overflow: hidden;
  background: black;
}

.thumb-mini img {
  max-height: 45px;
  display: block;
  margin: auto;
}

.thumb-tiny {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  display: block;
  overflow: hidden;
  background: black;
}

.thumb-tiny img {
  max-height: 26px;
  display: block;
  margin: auto;
}

.thumb-tiny-footer {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 6px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  background: black;
}

.thumb-tiny-footer img {
  max-height: 35px;
  display: block;
  margin: auto;
}

.thumb-notification {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 6px;
  position: relative;
  overflow: hidden;
  background: black;
}

.thumb-notification img {
  max-height: 35px;
  display: block;
  margin: auto;
}

.thumb-super-mini {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  display: block;
  float: left;
}
