.thumb-large {
  width: 160px;
  height: 160px;
  display: block;
  float: left;
  margin-right: 20px;
}

.thumb-large img {
  width: 160px;
  height: 160px;
}

.thumb-mini {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  margin-right: 6px;
  border: 1px solid black;
}

.thumb-mini img {
  width: 45px;
  height: 45px;
}
