.thumb-large {
  width: 340px;
  height: 340px;
  display: block;
  float: right;
  border: 1px solid black;
  box-sizing: border-box;
}

.thumb-large img {
  width: 300px;
  height: 300px;
}

.thumb {
  width: 160px;
  height: 160px;
  display: block;
  float: left;
  margin-right: 20px;
}

.thumb img {
  width: 160px;
  height: 160px;
}

.thumb-med {
  width: 120px;
  height: 120px;
  display: block;
  float: left;
}

.thumb-mini {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  margin-right: 6px;
}

.thumb-mini img {
  width: 45px;
  height: 45px;
}
