.thumb-large {
  width: 340px;
  height: 340px;
  display: block;
  float: right;
  box-sizing: border-box;
}

.thumb-large img {
  width: 300px;
  height: 300px;
}

.thumb {
  width: 160px;
  height: 160px;
  display: block;
  float: left;
  margin-right: 20px;
}

.thumb img {
  width: 160px;
  height: 160px;
}

.thumb-med {
  width: 120px;
  height: 120px;
  display: block;
  float: left;
}

.thumb-mini {
  width: 45px;
  height: 45px;
  display: block;
  float: left;
  margin-right: 6px;
}

.thumb-mini img {
  width: 45px;
  height: 45px;
}

.thumb-tiny {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  display: block;
}

.thumb-tiny-footer {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 6px;
  padding: 5px;
}
