.footer {
  background: #eee;
  color: black;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0px;
  left: 0px;
  height: 45px;
}

.footer-song-info {
  width: 360px;
  padding: 15px 10px;
  box-sizing: border-box;
}

.footer-song-playback {
  width: 880px;
  padding: 15px 10px;
  box-sizing: border-box;
}

.footer-playback-container {
  position: absolute;
  bottom: 25px;
  left: 250px;
}

.playback-footer-play-pause-button {
  display: block;
  float: left;
  position: absolute;
  bottom: 53px;
  left: 100px;
}

.playback-play-button {
  display: block;
  float: left;
  position: absolute;
  bottom: -48px;
  left: 10px;
}

.playback-play-triangle {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 10px;
  transform: rotate(-90deg);
  border-top: 20px solid black;
  border-bottom: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.playback-pause-button {
  display: block;
  float: left;
  position: absolute;
  bottom: -48px;
  left: 8px;
}

.playback-pause-left {
  content: "";
  display: block;
  position: absolute;
  height: 28px;
  top: 8px;
  width: 8px;
  margin: 10px;
  background: black;
}

.playback-pause-right {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  top: 8px;
  height: 28px;
  width: 8px;
  margin: 10px;
  background: black;
}

.playback-bar {
  width: 500px;
  display: block;
  float: left;
  position: relative;
}

.status-dot {
  position: absolute;
  bottom: -12px;
  z-index: 2;
}

.playback-status {
  display: block;
  float: left;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background: #0BF;
  z-index: 2;
}

.playback-status-incomplete {
  display: block;
  float: left;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background: #aaa;
  z-index: 1;
  width: 500px;
}

.current-time {
  font-size: 12px;
  display: block;
  position: absolute;
  left: -50px;
  bottom: -10px;
}

.total-time {
  font-size: 12px;
  display: block;
  position: absolute;
  right: -50px;
  bottom: -10px;
}

.next-song-button {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 150px;
}

.last-song-button {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 75px;
}

.disabled {
  color: #ccc;
}

.disabled:hover {
  color: #ccc;
  cursor: auto;
}

.song-footer-info {
  display: block;
  float: right;
  position: relative;
  bottom: 15px;
  right: -430px;
  width: 400px;
}

.song-footer-track-title {
  display: block;
  float: left;
  padding: 15px;
}
