.song-show-page-main {
  display: block;
  float: left;
  width: 880px;
  padding: 20px 30px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}

.song-show-page-sidebar {
  width: 360px;
  min-height: 200px;
  display: block;
  float: right;
  background: red;
  padding: 20px;
  box-sizing: border-box;
}

.song-show-buttons {
  width: 820px;
  padding: 10px 0px;
  display: block;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
