.track-player-mini {
  background: white;
  position: relative;
  width: 300px;
  height: 60px;
  margin-bottom: 2px;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 14px;
  color: black;
}

.artist-name-mini {
  color: #aaa;
}

.track-player-mini:hover .buttons {
  display: block;
  float: right;
}

.buttons {
  display: none;
}

.like-button-mini {
  color: #eee;
  display: block;
  float: left;
  padding: 1px 2px;
}

.like-button-mini:hover {
  color: #999;
}

.play-button-mini {
  margin-left: 10px;
  position: absolute;
  top: 25px;
  right: 40px;
  display: none;
}

.track-player-mini:hover .play-button-mini {
  display: block;
}

.play-circle-mini {
  position: relative;
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 3px;
  background: #0BF;
}

.play-triangle-mini {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 7px;
  transform: rotate(-90deg);
  border-top: 8px solid white;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.pause-mini {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 4px;
  height: 10px;
  width: 3px;
  margin: 2px;
  background: white;
}

.pause-right-mini {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 10px;
  height: 10px;
  width: 3px;
  margin: 2px;
  background: white;
}
