.track-player {
  background: #eee;
  border: 1px solid black;
  border-radius: 5px;
  width: 700px;
  height: 190px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.track-title {
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 20px;
  color: #aaa;
}

.track-waveform {
  display: block;
  float: left;
  width: 450px;
  height: 55px;
  background: orange;
}

.track-info {
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 16px;
  color: #444;
}
