.track-stats {
  display: block;
}

.track-stat {
  display: block;
  float: left;
  color: #aaa;
  margin: 0px 8px;
}

.track-stats-reg {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.track-stats-playlist-item {
  display: block;
  font-size: 12px;
  padding: 10px 0px;
  float: right;
}

.track-stats-large {
  font-size: 14px;
  float: right;
}

.track-stats-mini {
  font-size: 12px;
  position: absolute;
  bottom: -4px;
  left: 45px;
}
