.track-player-mini {
  background: #eee;
  border: 1px solid black;
  border-radius: 5px;
  width: 320px;
  height: 60px;
  margin-bottom: 2px;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 14px;
}

.track-player-mini:hover .buttons {
  display: block;
  float: right;
}

.buttons {
  display: none;
}
