.track-player {
  position: relative;
  border-radius: 5px;
  width: 820px;
  height: 160px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.track-player-info-buttons {
  display: block;
  width: 640px;
  position: absolute;
  bottom: 0px;
  left: 175px;
}

.track-player-large {
  position: relative;
  width: 1240px;
  height: 380px;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #00bbff 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffffff), color-stop(100%, #00bbff));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #00bbff 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%, #00bbff 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%, #00bbff 100%);
  background: linear-gradient(45deg, #ffffff 0%, #00bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00bbff', GradientType=1 );
}

.track-title {
  display: block;
  position: absolute;
  top: 25px;
  left: 218px;
  font-size: 16px;
  color: #777;
}

.track-title-large {
  display: block;
  float: left;
  margin-left: 15px;
  font-size: 24px;
  color: white;
  background: black;
  padding: 5px;
}

.track-waveform {
  display: block;
  position: absolute;
  bottom: 40px;
  left: 175px;
  width: 645px;
  height: 65px;
}

.track-waveform > wave {
  height: 65px !important;
  width: 645px !important;
}

.track-waveform > wave > canvas, .track-waveform > wave > wave{
  height: 65px !important;
}

.track-waveform-large {
  position: absolute;
  bottom: 30px;
  width: 815px;
  height: 128px;
  margin-left: 10px;
}

.track-waveform-large > wave {
  height: 128px !important;
  width: 815px !important;
}

.track-waveform-large > wave > canvas, .track-waveform-large > wave > wave {
  height: 128px !important;
}

/*wave {
  height: inherit;
}*/

.track-info {
  display: block;
  float: left;
  margin-left: 20px;
  font-size: 15px;
  color: #444;
}

.track-artist-name {
  font-size: 12px;
  color: #ccc;
}

.track-artist-name:hover {
  font-size: 12px;
  color: black;
}

.track-artist-name-large {
  padding: 5px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 12px/1.4;
  color: #ccc;
  background: black;
  display: inline-block;
  margin-bottom: 5px;
}

.track-artist-name-large:hover {
  color: white;
}

.track-artist-name-div {
  display: block;
  position: absolute;
  top: 10px;
  left: 218px;
}

.track-artist-name-div-large {
  display: block;
}

.play-button-large {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  display: block;
  float: left;
}

.play-circle-large {
  position: relative;
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 5px;
  background: #0BF;
}

.play-triangle-large {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 18px;
  transform: rotate(-90deg);
  border-top: 30px solid white;
  border-bottom: 0;
  border-right: 22px solid transparent;
  border-left: 22px solid transparent;
}

.pause-large {
  content: "";
  display: block;
  position: absolute;
  height: 36px;
  top: 6px;
  left: 9px;
  width: 11px;
  margin: 10px;
  background: white;
}

.pause-right-large {
  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: 6px;
  height: 36px;
  width: 11px;
  margin: 10px;
  background: white;
}

.play-button {
  display: block;
  position: absolute;
  left: 175px;
  top: 10px;
}

.play-circle {
  position: relative;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 4px;
  background: #0BF;
}

.play-triangle {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
  transform: rotate(-90deg);
  border-top: 15px solid white;
  border-bottom: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.pause {
  content: "";
  display: block;
  position: absolute;
  height: 18px;
  top: 4px;
  left: 3px;
  width: 7px;
  margin: 6px;
  background: white;
}

.pause-right {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 4px;
  height: 18px;
  width: 7px;
  margin: 6px;
  background: white;
}
