
.user-profile-header {
  display: block;
  height: 265px;
  position: relative;
  background: #ffffff;
  background: -moz-linear-gradient(45deg, #ffffff 0%, #00bbff 100%);
  background: -webkit-gradient(right top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #00bbff));
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #00bbff 100%);
  background: -o-linear-gradient(45deg, #ffffff 0%, #00bbff 100%);
  background: -ms-linear-gradient(45deg, #ffffff 0%, #00bbff 100%);
  background: linear-gradient(-135deg, #ffffff 0%, #00bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00bbff', GradientType=1 );

}

.user-profile-picture {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  top: 35px;
  left: 35px;
}

.image-centerer {
  position: absolute;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
}

.user-profile-picture img {
  max-height: 200px;
  display: block;
  margin: auto;
}

.user-profile-header-image {
  width: 1240px;
  height: 265px;
}

.user-profile-header-nav {
  display: block;
}

.user-profile-header-nav-list {
  display: block;
  float: left;
}

.user-profile-header-nav-list li {
  display: block;
  float: left;
  padding: 20px;
}

.artist-name-large {
  padding: 7px 7px;
  margin-left: 15px;
  font-size: 24px;
  color: white;
  background: black;
  display: block;
  margin-bottom: 5px;
  position: absolute;
  top: 35px;
  left: 250px;
}
