/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, ul, li, span, p,
a, h1, h2, h3, h4, h5,
input, textarea, button,
form, label {
  padding: 0px;
  margin: 0px;
  border: 0px;

  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  background: transparent;
  color: inherit;
}

body {
  background: #ccc;
  font-family: sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.test-header {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

button:hover {
  cursor: pointer;
}

button:focus{
    outline: none;
}

.test-page-text {
  margin: auto;
  text-align: center;
  font-size: 40px;
  background: #40C9FF;
}

.test-page-text-smaller {
  margin: auto;
  text-align: center;
  font-size: 20px;
  background: #40C9FF;
}
