// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-button {
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px 2px;
  display: block;
  float: left;
}

.like-button:hover {
  border: 1px solid #999;
}
