// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like-button {
  background: white;
  border-radius: 3px;
  padding: 3px 6px;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 175px;
}

.like-button:hover {
  border: 1px solid #999;
}

.like-button-large {
  background: white;
  border-radius: 3px;
  padding: 5px 10px;
  display: block;
  float: left;
}

.like-button-large:hover {
  border: 1px solid #999;
}

.liked {
  color: #0BF;
  border: 1px solid #0BF;

}

.not-liked {
  color: black;
  border: 1px solid #ccc;
}
