.white {
  color: #aaa !important;
}

.white:hover {
  color: white !important;
}

.blue {
  color: #0bf !important;
}

.welcome {
  display: block;
  position: absolute;
  left: 372px;
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cloud-sounds {
  font-weight: 700;
}
