// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.playlist-track-player {
  position: relative;
  border-radius: 5px;
  width: 820px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.playlist-items {
  display: block;
  margin-left: 180px;
  margin-top: -40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 10px;
}

.playlist-item {
  font-size: 14px;
  padding: 5px;
  display: block;
  color: #999;
  width: 640px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.playlist-item:last-child {
  border-bottom: 0px;
}

.playlist-item:hover {
  color: black;
}

.playlist-item-info {
  display: block;
  float: left;
}

.playlist-item-song-title {
  display: block;
}

.playlist-item-thumb-tiny {
  left: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin-right: 10px;
}

.add-to-playlist-button {
  background: white;
  border-radius: 3px;
  padding: 3px 6px;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 225px;
}

.add-to-playlist-button:hover {
  border: 1px solid #999;
}

.playlist-selection-dialog {
  background: white;
  border-radius: 3px;
  display: block;
  position: absolute;
  bottom: 5px;
  left: 225px;
  width: 200px;
  z-index: 2;
  border: 1px solid #ccc;
}

.playlist-selection-dialog:hover {
  display: block;
}

.playlist-selection-dialog li {
  color: #888;
  border-bottom: 1px solid #ccc;
}

.playlist-selection-dialog li:last-child {
  border-bottom: 0px;
}

.playlist-selection-dialog li:hover {
  color: #0BF;
}

.playlist-selection-item {
  padding: 5px;
}
