.search-box {
  display: block;
  float: left;
  padding: 9px;
  position: relative;
  box-sizing: border-box;
}

.search-input {
  width: 500px;
  background: white;
  display: block;
  float: left;
  padding-left: 20px;
  padding: 5px 25px;
}

.search-results-index {
  border: 1px solid #ccc;
}

.search-result-index-item {
  font-size: 14px;
  padding: 5px 0px;
  display: block;
  width: 400px;
  border-bottom: 1px solid #ccc;
}

.search-results-page {
  padding: 30px;
}

.mag-glass {
  display: block;
  position: absolute;
  left: 15px;
  top: 14px;
  margin-right: 5px;
  color: #0BF;
}
