// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HEADER //

.header {
  background: #383838;
  color: #aaa;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
}

.header-nav {
  margin: auto;
  width: 1240px;
  display: block;
  box-sizing: border-box;
}

.header-logo {
  display: block;
  float: left;
  padding: 7px 15px 7px 15px;
  background: #0BF;
  color: white;
}

.header-logo-note {
  position: absolute;
  z-index: 1;
  left: 21px;
  top: 15px;
}

.header-logo img {
  width: 40px;
  height: 40px;
}

.header-nav div {
  display: block;
}

// .header-nav form {
//   display: block;
//   padding: 14px;
// }

.header-nav a {
  display: block;
  padding: 14px;
}

.header-nav ul {
  display: block;
  padding: 14px;
}

.header-nav a:hover {
  color: white;
  cursor: pointer;
}

.header-nav ul:hover {
  color: white;
  cursor: pointer;
}

.header-nav-site-nav {
  display: block;
  float: left;
}

.header-nav-site-nav div {
  display: block;
  float: left;
}

.header-nav-profile-nav {
  display: block;
  float: right;
}

.header-nav-profile-nav div {
  display: block;
  float: left;
}

.sign-in-or-up {
  display: block;
  float: right;
}

.sign-in-or-up a {
  display: block;
  float: left;
  padding: 14px;
}

.header-left a {
  padding: 14px 15px 14px 15px;
  border-right: 1px solid black;
}

.profile-link {
  position: relative;
}

.profile-link a {
  padding-left: 45px;
}


// MAIN CONTENT //

.main {
  background: white;
  width: 1240px;
  margin: auto;
  min-height: 1000px;
  box-sizing: border-box;
}

// FOOTER //

.footer {
  background: #eee;
  color: black;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 5;
  bottom: 0px;
  left: 0px;
}

.footer-song-info {
  width: 360px;
  padding: 15px 10px;
  box-sizing: border-box;
}

.footer-song-playback {
  width: 880px;
  padding: 15px 10px;
  box-sizing: border-box;
}
