// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-button {

}

.sign-in_form {

}

.sign-in-up-form {
  width: 350px;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}

.sign-in-up-form div {
  padding: 20px;
  display: block;
}

.sign-in-up-form input {
  width: 200px;
  border: 1px solid #ccc;
  display: block;
  float: right;
}

.sign-in-up-form label {
  display: block;
  float: left;
  width: auto;
}

.sign-in-up-form button {
  display: block;
  float: none;
  margin: auto;
  padding: 10px 20px;
  background: #ccc;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.guest-user-sign-in {
  width: 600px;
  background: white;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}

.guest-sign-in-button {
  display: block;
  float: none;
  margin: auto;
  padding: 10px 20px;
  background: #ccc;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

// USER FEED

.user-feed {

}

.user-feed-header {
  color: #aaa;
  font-size: 18px;
  padding: 20px 30px;
}

//////////////////
// USER PROFLIE //
//////////////////

// HEADER //

.profile-header {
  display: block;
  height: 265px;
  background: blue;
  position: relative;
}

.profile-picture {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 35px;
  left: 35px;
}

.profile-header-image {
  width: 1240px;
  height: 265px;
}

.profile-header-nav {
  display: block;
}

.profile-header-nav-list {
  display: block;
  float: left;
}

.profile-header-nav-list li {
  display: block;
  float: left;
  padding: 20px;
}

// MAIN CONTENT //

.profile-main {
}

.profile-content {
  display: block;
  float: left;
  width: 880px;
  padding: 20px 0px;
  box-sizing: border-box;
}

// SIDEBAR //

.profile-sidebar {
  width: 360px;
  display: block;
  float: right;
  padding: 20px 30px;
  box-sizing: border-box;
}


// EDIT //
.edit-button {
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 5px;
  display: block;
  float: right;
  font-size: 12px;
}

.edit-button:hover {
  border: 1px solid #999;
  // cursor: pointer;
}
